<div class="listing-container">
    <div class="product-listing-container" fxLayout="column">
        <div class="removable-content"></div>
        <div class="listing-content" fxLayout="column">
            <div class="listing-header">
                <div fxLayout="row">
                    <div fxFlex="90" class="header">Products</div>
                    <!-- <div fxFlex="10" class="featured">Featured</div> -->
                </div>
            </div>
            <div class="listing-section" fxLayout="column">
                <div *ngFor="let product of Products">
                    <div class="product-card" fxLayout="row">
                        <div fxFlex="15">
                            <img class="product-image" src={{product.Image}} alt="default-image" />
                        </div>
                        <div class="product-content" fxFlex="70" fxLayout="column">
                            <div class="product-header" (click)="goToProduct(product)">{{product.Name}}</div>
                            <div class="sub-header">{{product.SubHeader}}</div>
                            <div fxLayout="row">
                                <div class="hashtags" *ngFor="let hashtag of product.HashTags">{{'#' + hashtag}}</div>
                            </div>
                        </div>
                        <div class="product-vote" fxLayout fxFlex="15" fxLayoutAlign="center center">
                            <div fxLayout="column" class="voting-section" fxLayoutGap="10px">
                                <div class="upvote-icon"></div>
                                <div class="vote-count" style="text-align: center;">{{product.TotalVotes}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section" fxLayout="column" fxFlex="33">
        <h1 class="top-stories">Trending Stories</h1>
        <div *ngFor="let story of TopStories" fxLayout="row" style="padding: 20px 10px;">
            <div fxLayout="column" fxFlex="80%">
                <div>{{story.Story}}</div>
                <div style="opacity: 0.7;">{{story.TimePeriod}}</div>
            </div>
            <div fxFlex="10%">
                <img [src]="story.Image" />
            </div>
        </div>
        <h1 class="right-section top-stories">Top Discussions</h1>
        <div *ngFor="let story of commentsList" fxLayout="row" style="padding: 20px 10px;">
            <div fxLayout="column" fxFlex="80%">
                <div>{{story.CommentData}}</div>
                <div fxLayout="row">
                    <div> {{story.Votes}}</div>
                    <div class="upvote-icon"></div>
                    <div style="margin-left:30px;opacity : 0.7;">{{story.timeperiod}}</div>

                </div>
            </div>
        </div>
    </div>
</div>