.visit-button {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

.upvote-button {
  background-color: #d6375c;
  border-radius: 5px;
  cursor: pointer;
}

.upvote-button {
  color: #FFF;
}
