<div class="dialog-container">
    <div class="dialog-header" fxLayout="row">
        <div fxFlex="90">Login</div>
        <div fxFlex="10" fxLayoutAlign="end center" (click)="close(0)" style="cursor: pointer;">X</div>
    </div>
    <div class="dialog-content">
        <form (ngSubmit)="SubmitClick()" fxLayout="column">
            <mat-form-field>
                <input type="text" placeholder="User Name" [(ngModel)]="UserName" required />
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Password" [(ngModel)]="Password" required />
            </mat-form-field>
            <div class="form-action-buttons" fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="10px">
                <button mat-raised-button type="button">cancel</button>
                <button mat-raised-button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>